
<!------ Include the above in your HEAD tag ---------->
<div class="form-profil">
    <div class="container">
        <div class="row">
                    <div class="row">
                        <div class="col">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIpGsX3nLD9_QICrhvqI-BweSdasdeiarv4p25GoNQulu81MJ_" class="avatar-img-cirlce" alt="avatar" />
                        </div>
                        <div class="col">
                            <h4>
                                Bhaumik Patel</h4>
                            <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker"><br>
                            </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                <br />
                                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>