<p>Bienvenue sur la page d'ajout d'un avatar pour le User portant l'id : <%=@user%></p>
<!------ Include the above in your HEAD tag ---------->
<div class="form-profil">
    <div class="container">
        <div class="row">
                    <div class="row">
                        <div class="col">
                            <%if @user.avatar.attached?%>
                            <%= image_tag @user.avatar, alt: 'avatar' %>
                            <% end %>
                        </div>
                        <div class="col">
                            <h4><%=@user.email%>  <%=@user.last_name%></h4>
                            <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker"><br>
                            </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                <br />
                                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>