<% if user_signed_in? %>
      <%= render 'layouts/navbar_in'  %>
    <% else %>
      <%= render 'layouts/navbar_out'  %>
    <% end %>
<%= render 'layouts/banner2'%>
<!-- FRAGANCES-->
<div class="div-title">
  FRAGANCES
</div>


<div id="div-container-fragance">
        <div class="card-1">
            <img src= "https://www.antonius.paris/app/images/frontend/home/fragrances/orientales.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b> Les Ambrées ou Orientales </b></h4>
                <p> Poudrés avec des compositions vanillées, animales très marquées. Les notes orientales au sillage pénétrant séduisent les femmes mystérieuses et sensuelles.</p>
            </div>
        </div>



        <div class="card-1">
            <img src= "https://www.antonius.paris/app/images/frontend/home/fragrances/chypres.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b> Les Chyprées </b></h4>
                <p> Fondés sur des accords de ciste-labdanum, patchouli, bergamote, mousse de chêne. Ils plaisent aux femmes de caractère et ambitieuses</p>

            </div>
        </div>

        <div class="card-1">
            <img src= "https://www.antonius.paris/app/images/frontend/home/fragrances/floraux.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b> Les Florales </b></h4>
                <p> Élaborés autour d'une fleur comme la rose, la violette, le jasmin, le lilas, le muguet, le narcisse ou encore la tubéreuse. Pour les femmes aux personnalités extraverties et audacieuses.</p>

            </div>
        </div>



        <div class="card-2">
            <img src= "https://www.antonius.paris/app/images/frontend/home/fragrances/hesperides.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b> Les Hespéridées </b></h4>
                <p> Élaborés à partir d'essences de citron, orange, pamplemousse, mandarine, bergamote. S'accordent aux personnalités optimistes qui savent aller de l'avant.</p>
            </div>
        </div>
     </div>


<!-- TEXT FRANCE-->

<div class="div-text-france">
  <div class="content-a-propos">
    <div>
      <h3>A Propos</h3>
    </div>
    <div>Nos parfums reposent sur des fragrances concises et simples, mais raffinées. Les plus belles créations de qualité supérieure. Une parfumerie moderne basée sur la synergie entre les ingrédients. Chaque flacon mêle essences naturelles, extraites des fleurs, bois, feuilles, épices et résines, notes aromatiques, créées pour vous mettre en valeur et vous faire vibrer avec des notes quasiment inédites.</div>
    <div>
     Les notes sont les différentes phases d'évolution des effluves des parfums Antonius lorsque vous le vaporisez sur votre peau. Chacune de ces phases est assortie d'un degré de volatilité différent. Lorsque les notes de tête disparaissent, ce sont les notes de cœur du parfum qui s'épanouissent sur votre peau. Ce sont des senteurs de volatilité qui donnent personnalité et caractère à la composition et créent l'aura qui donne son thème dominant au parfum.
   </div>

   <div>
     Des parfums qui ont la capacité à influencer de manière quasi instantanée vos émotions. Chaque parfum réagi différemment sur chaque individu en fonction de sa chimie corporelle.</p>
   </div>
  </div>
</div>
<footer>
  
  <%= render 'layouts/footer' %>

</footer>

