<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user1.first_name %> <%= @user1.last_name %>!</h1>

    	<p>
    		Tu as commandé un produit sur le site avec le mail <%= @user1.email %>.
    	</p>
 
    <p> À très vite sur antonius.paris ! </p>
  </body>
</html>