
<nav id="footer" class="navbar">

	<div>
		<h5>| Links</h5>
		<ul class="list-unstyled quick-links">
			<li><a href="#">About</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Get Started</a></li>
		</ul>
	</div>
	<div>
	


	<div id="div-footer-right">
		<div>
			<a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
			<a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
			<a href="#"><i class="fab fa-instagram fa-2x"></i></a>
			<a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
			<a href="#"><i class="fas fa-envelope-square fa-2x"></i></a>
		</div>
		<div id="div-footer-bot">

			© All right Antonius. Paris
		</div>
	</div>
</nav>
